AUTH_DB_VOL=${HOME}/data/transcendence_data/auth_db
GAME_APP_DB_VOL=${HOME}/data/transcendence_data/game_db
PONG_PROJECT_DB_VOL=${HOME}/data/transcendence_data/pong_project_db
HOST_IP=
PRIVATE_KEY=""
PROVIDER_RPC="https://arbitrum-sepolia.infura.io/v3/6aead4d0109a495cb99e89fbcb5a0ea9"
