ENV=/home/will/code/data/transcendence_data_our
AUTH_DB_VOL=/home/will/code/data/transcendence_data_our/auth_db
GAME_APP_DB_VOL=/home/will/code/data/transcendence_data_our/game_db
PONG_PROJECT_DB_VOL=/home/will/code/data/transcendence_data_our/pong_project_db
HOST_IP=192.168.252.193
PRIVATE_KEY="yourkey"
PROVIDER_RPC="https://arbitrum-sepolia.infura.io/v3/6aead4d0109a495cb99e89fbcb5a0ea9"
OAUTH_CLIENT_ID="u-s4t2ud-5e7e4a91d71b25aa41be7416b66b5e707d70b920b1c6521d6dfaa920a5ee8eb2"
OAUTH_SECRET="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"
OAUTH_TOKEN="dbb9adcdabebf3deb9b27d40266a35271fe7b7bc4f8869e610113cf60e4f782a"
OAUTH_STATE="diudohzaeioflhezaofuhaezfiuazefhzeaifhzaefluizaefheaizfhzaelifhaezfeizcknazfizef"
OAUTH_REDIRECT_URI="https://192.168.252.193:8443"
OAUTH_USERS_PASSWORD="fzofeijfzeoifjezofiezjfozeihfzeiufhyezofizeifpazueyzaieuyaieuiubesalabestfiehfiezufzeiufy"
OAUTH_APP_TOKEN_REQUEST="grant_type=client_credentials&client_id=u-s4t2ud-5e7e4a91d71b25aa41be7416b66b5e707d70b920b1c6521d6dfaa920a5ee8eb2&client_secret=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"
OPEN_KEY="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"
JANKEN_SECRET="s-fzefze78ZAdzd8Z7hdzDAZaD89dddd"