#Volumes
ENV=
AUTH_DB_VOL=
GAME_APP_DB_VOL=
PONG_PROJECT_DB_VOL=
JANKEN_DB_VOL=

#Ports
HOST_IP=

#Django
SECRET_DJANGO_KEY=
JANKEN_SECRET=

#OAuth
OAUTH_CLIENT_ID=
OAUTH_SECRET=
OAUTH_TOKEN=
OAUTH_STATE=
OAUTH_REDIRECT_URI=
OAUTH_APP_TOKEN_REQUEST=
OAUTH_USERS_PASSWORD=

#OpenAi
OPEN_KEY=

#Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=

#Grafana
GF_SECURITY_ADMIN_PASSWORD=

#Blockchain
CONTRACT_ADDRESS=
PRIVATE_KEY=
PROVIDER_URL=
URL_BLOCKCHAIN= 
CHAIN_ID=