<!DOCTYPE html>
{% load static %}
{% csrf_token %}

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ft_transcendence</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'site.webmanifest' %}">
</head>
<body>
	<main>
		<header class="banner">	
			<h1 id ="home-banner" s>42 School</h1>
			<div id="login-banner" style="display: none;">
				<p id="welcomeMessage" style="display: inline-block;">Welcome, <span id="banner-nickname-display">NO NICKNAME</span> ! </p>
				<button id="sound-button" style="display: inline-block;">Mute</button>
				<button id="logout-button" type="submit" style="display: inline-block;">Logout</button>
				<img id="banner-profile-image-display" width="100" height="110" src="" alt="User Image" style="display: inline-block;">
			</div>
		</header>
		<div id="isLogged" style="display: none;">
			<div id="logged-in-home" style="display: none;">
				<button id="local-button">Play Local Game</button>
				<button id="remote-button">Play Remote Game</button>
				<button id="ai-button">Play Against AI</button>
				<button id="tournament-button"> Tournament</button>
				<button id="myprofile-button"> My profile</button>
				<button id="chatbot-button"> Pong Chatbot</button>
				<button id="friends-button" data-count="0"> Friends</button>
				<button id="janken-button"> Janken</button>
			</div>
			<div id="friends" style="display:none">
				<form id="add-friend-form">
					<p id="add-friend-p">Input the nickname of who you want to add as friend:</p>
					<input type="add-friend" id="add-friend-input" name="add-friend" required>
					<button id="submit-add-friend-button" type="submit">Add</button>
				</form>
				<p id=friend-list-p>Friendlist :</p>
				<div id="friends-list">
					<div id="friends-list-names"></div>
					<div id="friends-list-delete"></div>
				</div>
				<p id="friend-requests-p">Friend requests:</p>
				<div id="friends-requests"></div>
			</div>
			<div id="game-div" style="display: none;">
				<canvas id="game-canvas" width="480" height="650"></canvas>
			</div>
			<!-- <div id="tournament" style="display: none;">
				<p>TOURNAMENT</p>
				<form id="new-tournament">
					<label for="new_tournament">Name of the new tournament:</label>
					<input type="tournament-creations" id="new-tournament-input" name="tournament-creations" required>
					<button id="submit-new-tournament-button" type="submit">Enter a name</button>
				</form>
				<form id="join-tournament">
					<label for="join_tournament">Join a tournament:</label>
					<input type="tournament-joining" id="join-tournament-input" name="tournament-joining" required>
					<button id="submit-join-tournament-button" type="submit">modify</button>
				</form>
			</div> -->
			<div id="friend-profile" style="display:none;">
				<div id="friends-info">
					<img src="" id="friend-profile-profile-picture-display" width="75" height="87" alt="profile picture">
					<p id="friend-nickname-welcome-p" style="display: inline-block; margin-bottom: 0;"><span id="friend-profile-nickname-display"></span>'s Profile !</p>
					<p id="friend-online-status" style="display: inline-block;">online : <span id="friend-online-status-display"></span></p>
				</div>
				<div id="friend-history">
					<div id="friend-profile-janken-history">
						<p>Janken History</p>
						<p>Wins: <span id="friend-janken-history-wins"></span>, Losses: <span id="friend-janken-history-losses"></span>, Draws: <span id="friend-janken-history-draws"></span>. Winrate: <span id="profile-winrate-janken-display"></span></p>
					</div>
					<div id="friend-profile-pong-all-history">
						<p>Pong in Local History</p>
						<p>Wins: <span id="friend-pong-local-history-wins"></span>, Losses: <span id="friend-pong-local-history-losses"></span></p>
						<p>Pong in Remote History</p>
						<p>Wins: <span id="friend-pong-remote-history-wins"></span>, Losses: <span id="friend-pong-remote-history-losses"></span></p>
						<p>Pong vs AI History</p>
						<p>Wins: <span id="friend-pong-ai-history-wins"></span>, Losses: <span id="friend-pong-ai-history-losses"></span></p>
					</div>
				</div>
			</div>


			<div id="profile" style="display: none;">
				<div id="my-profile-history">
					<img src="" id="profile-profile-picture-display" width="280" height="320" alt="profile picture">
					<div id="my-profile-history-buttons">
						<button id="profile-janken-history-button"> My Janken History</button>
						<button id="profile-pong-history-button"> My Pong History</button>
					</div>
				</div>
				<form id="modify_email">
					<p id="email-welcome-p">My e-mail : <span id="profile-email-display"></span></p>
					<label for="email_new">email:</label>
					<input type="email" id="email_new" name="email" autocomplete="email" required>
					<button id="submit-email-button" type="submit">modify</button>
				</form>
				<form id="modify_nickname">
					<p id="nickname-welcome-p">My nickname : <span id="profile-nickname-display"></span></p>				
					<label for="nickname_new">nickname:</label>
					<input type="first_name" id="nickname_new" name="first_name" autocomplete="first_name" required>
					<button id="submit-nickname-button" type="submit">modify</button>
				</form>
				<form id="modify_password">
					<p id="username-welcome-p">My username : <span id="profile-username-display"></span></p>
					<label for="password_new">password:</label>
					<input type="password" id="password_new" name="password" autocomplete="password" required>
					<button id="submit-password-button" type="submit">modify</button>
				</form>	
				<form id="modify_profile_picture">
					<label for="profile_picture_new">profile picture:</label>
					<input type="file" id="profile_picture_new" name="profile_picture" accept="image/*" required>
					<button id="submit-profile-picture-button" type="submit">modify</button>
				</form>
			</div>
			
			
			<div id="pong-history" style="display:none;">
				<p>History</p>
				<p>Wins: <span id="pong-history-wins"></span>, Losses: <span id="pong-history-losses"></span>, Draws: <span id="pong-history-draws"></span></p>
				<button id="pong-history-back"> Back to Profile </button>
				<div id="pong-history-list"></div>
			</div>
			
			
			
			<div id="janken" style="display:none;">
				<button id="janken-create-game-button">Create a game</button>
				<button id="janken-join-game-button">Matchmaking</button>
				<button id="janken-game-in-progress-button">Game in progress</button>
				<button id="janken-history-button"> My History</button>
			</div>
			<div id="janken-history" style="display:none;">
				<p>History</p>
				<p>Wins: <span id="janken-history-wins"></span>, Losses: <span id="janken-history-losses"></span>, Draws: <span id="janken-history-draws"></span></p>
				<button id="janken-history-back"> Back to Janken </button>
				<button id="janken-history-back-to-profile"> Back to Profile </button>
				<div id="janken-history-list"></div>
			</div>
			<div id="janken-lobby" style="display:none;">
				<p>Waiting for an opponent</p>
				<button id="janken-cancel-game">Cancel</button>
				<button id="janken-lobby-back"> Back to Menu </button>
			</div>
			<div id="janken-game" style="display:none;">
				<p>Choose your move</p>
				<span id="janken-game-opponent-nickname"></span>
				<button id="rock-button">Rock</button>
				<button id="paper-button">Paper</button>
				<button id="scissors-button">Scissors</button>
				<button id="janken-game-back"> Back to Menu </button>
			</div>
			<div id="janken-already-played" style="display:none;">
				<p>You already played, waiting for <span id="janken-already-played-opponent-nickname"></span> to play!</p>
				<button id="janken-already-played-back"> Back to Menu </button>
			</div>
			<div id="janken-result" style="display:none;">
				<p id="janken-result-text"></p>
				<p id="janken-result-result"></p>
				<button id="janken-result-back"> Back to Menu </button>
			</div>
			
			
			<div id="chatbot" style="display: none;">
				<h1 id="title-chat">Pong's ChatBot </h1>
				<img src="../static/images/chatgpt.jpg/" alt="chatgpt logo" height="50" width="50" class="chatgpt-center">
				<h2 id="howcan">Hello ! How can I help you today ? </h1>
					<form id="OPENai">
						<input type="text" id="OpenAIquestion" name="question" autocomplete="question" required placeholder="Message Pong's ChatBot...">
					</form>
				</div>
				
				
				<div id="janken-not-authorized" style="display: none;">
					<p>You are not in a game !</p>
				</div>
				<div id="friend-not-found" style="display: none;">
					<p></p>
				</div>
			</div>
			<div id="isNotLogged" style="display: none;">
				<div id="Login" style="display: none;">
					<form id="loginForm">
						<label for="username_login">Username:</label>
						<input type="text" id="username_login" name="username" autocomplete="username" required>
						<label for="password_login">Password:</label>
						<input type="password" id="password_login" name="password" autocomplete="current-password" required>
						<button id="submit-login-button" type="submit">Login</button>
					</form>
				</div>			
				<div id="Register" style="display: none;">
					<form id="registerForm">
						<label for="username_register">Username:</label>
						<input type="text" id="username_register" name="username" autocomplete="username" required>
						<label for="password1_register">Password:</label>
						<input type="password" id="password1_register" name="password1" autocomplete="new-password" required>
						<label for="password2_register">Confirm Password:</label>
						<input type="password" id="password2_register" name="password2" autocomplete="new-password" required>
						<label for="email_address_register">Input email:</label>
						<input type="email" id="email_address_register" name="email_address" autocomplete="email" required>
						<label for="first_name_register">Input first_name:</label>
						<input type="text" id="first_name_register" name="first_name" autocomplete="given-name" required>
						<button id="submit-register-button" type="submit">Register</button>
					</form>
				</div>
				<div id="not-logged-home" style="display: none;">
					<button id="login-button" type="submit">Login</button>
					<button id="register-button" type="submit">Register</button>
					<button id="42-login-button">42 login</button>
				</div>
				<div id="Registered" style="display: none;">
					<p>You've been registered, you can now loggin</p>
				</div>
			</div>
			<div id="unauthorized" style="display: none;">
				<p>Unauthorized</p>
			</div>
		<div id="loading" style="display: block;">
			<p>Loading...</p>
		</div>
		<script> window.ASSETS_URL = "{% static '' %}" + "assets/"; </script>
		<script type="module" src="{% static 'js/pong/ai.js' %}"></script>
		<script type="module" src="{% static 'js/pong/game_manager.js' %}"></script>
		<script type="module" src="{% static 'js/pong/game.js' %}"></script>
		<script type="module" src="{% static 'js/pong/global.js' %}"></script>
		<script type="module" src="{% static 'js/pong/graphics.js' %}"></script>
		<script type="module" src='{% static "js/pong/input.js" %}'></script>
		<script type="module" src="{% static 'js/pong/physics.js' %}"></script>
		<script type="module" src="{% static 'js/pong/snapshot.js' %}"></script>
		<script type="module" src='{% static "js/pong/sound.js" %}'></script>
		<script type="module" src="{% static 'js/client.js' %}"></script>
		<script type="module" src="{% static 'js/main.js' %}"></script>
		<footer>

		</footer>
	</main>
</body>

</html>