{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pong</title>
	<style>
		@font-face {
			font-family: 'Code Page 437';
			src: url('{% static "assets/code-page-437.ttf" %}') format('truetype');
		}

		body {
			font-family: 'Code Page 437', Arial, sans-serif;
			font-size: 32px;
			margin: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #ffffff;
			background-color: #000000;
		}

		main {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		#game-canvas {
			display: none;
			border: 1px solid #fff;
		}

		#auth-form-div {
			display: block;
		}

		#game-launch-buttons {
			display: none;
		}

		button {
			margin: 10px;
		}
	</style>
</head>

<body>
	<main>
		<div id="auth-form-div">
			<input type="text" id="username" placeholder="Username">
			<input type="password" id="password" placeholder="Password">
			<button id="login-btn">Login</button>
			<button id="register-btn">Register</button>
		</div>

		<div id="game-launch-buttons">
			<button id="start-local-game">Play Local Game</button>
			<button id="start-remote-game">Play Remote Game</button>
			<button id="start-ai-game">Play Against AI</button>
		</div>
		<canvas id="game-canvas" width="600" height="800"></canvas>
		<script>
			let currentGame = null;

			function getCookie(name) {
				let cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					const cookies = document.cookie.split(';');
					for (let i = 0; i < cookies.length; i++) {
						const cookie = cookies[i].trim();
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}

			function checkAuthenticationStatus() {
				fetch('http://localhost:8000/api/auth/check/', {
					method: 'GET',
					headers: {
						'Content-Type': 'application/json',
						// Include credentials to ensure cookies are sent with the request
						'credentials': 'include'
					}
				})
					.then(response => response.json())
					.then(data => {
						if (data.isAuthenticated) {
							// Hide login/register div and show game launch buttons
							document.getElementById('auth-form-div').style.display = 'none';
							document.getElementById('game-launch-buttons').style.display = 'block';
						} else {
							// Show login/register div
							document.getElementById('auth-form-div').style.display = 'block';
						}
					})
					.catch(error => console.error('Error:', error));
			}

			function authRequest(url) {
				const username = document.getElementById('username').value;
				const password = document.getElementById('password').value;

				fetch(url, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						// Add CSRF token header if needed
					},
					credentials: 'include',
					body: JSON.stringify({ username, password })
				})
					.then(response => response.json())
					.then(data => {
						if (data.message === "Login successful" || data.message === "Registration successful") {
							// Handle successful authentication
							console.log("Success:", data);
							checkAuthenticationStatus()
						} else {
							// Handle errors
							console.error("Error:", data);
						}
					})
					.catch(error => console.error('Error:', error));
			}

			let ballSide = 16;
			let boardWidth = 600;
			let boardHeight = 800;
			let paddleWidth = 64;
			let paddleHeight = 16;
			let canvas = document.getElementById("game-canvas");
			let ctx = canvas.getContext("2d");

			function drawGame(gameData) {
				// Clear the canvas
				ctx.fillStyle = "black";
				ctx.fillRect(0, 0, boardWidth, boardHeight);

				// Draw player paddles
				ctx.fillStyle = "white";
				ctx.fillRect(gameData.player1.x, boardHeight - (paddleHeight + 16), paddleWidth, paddleHeight);
				ctx.fillRect(gameData.player2.x, 16, paddleWidth, paddleHeight);

				// Draw the ball
				ctx.fillRect(gameData.ball.x, gameData.ball.y, ballSide, ballSide);

				// Draw scores (optional)
				ctx.font = "30px Code Page 437";
				ctx.fillText(gameData.player1.score, 20, 50);
				ctx.fillText(gameData.player2.score, 20, boardHeight - 30);
			}

			function startGameLoop(gameId) {
				let eventSource = new EventSource(`http://localhost:8000/api/games/${gameId}/get/`);

				eventSource.onmessage = function (event) {
					// Parse the event data and update the game state
					let gameData = JSON.parse(event.data);
					drawGame(gameData);
				};

				eventSource.onerror = function (error) {
					console.error('EventSource failed:', error);
					eventSource.close();
				};

				function gameLoop() {
					requestAnimationFrame(gameLoop);
				}

				requestAnimationFrame(gameLoop);
			}


			let currentId;
			function createGame(gameType, csrfToken) {
				fetch('http://localhost:8000/api/games/', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-CSRFToken': csrfToken,
						'credentials': 'include'
					},
					body: JSON.stringify({ type: gameType }),
				})
					.then(response => response.json())
					.then(data => {
						if (data.id) {
							currentGame = data;
							// Hide game launch buttons and show canvas
							document.getElementById('game-launch-buttons').style.display = 'none';
							document.getElementById('game-canvas').style.display = 'block';
							// Start the game loop
							currentId = data.id;
							startGameLoop(data.id);
						} else {
							console.error('Game creation failed');
						}
					})
					.catch(error => console.error('Error:', error));
			}

			document.addEventListener('keydown', (event) => {
				const keyName = event.key;
				// Send user action to server
				sendUserAction(keyName);
			});

			function sendUserAction(keyName) {
				let input;
				if (!currentGame || !currentGame.id) return; // Ensure there is an active game

				if (keyName === 'a') {
					input = { id: "1", action: "left" };
				} else if (keyName === 's') {
					input = { id: "1", action: "right" };
				} else if (keyName === 'k') {
					input = { id: "2", action: "left" };
				} else if (keyName === 'l') {
					input = { id: "2", action: "right" };
				} else {
					return; // Ignore other keys
				}

				const csrfToken = getCookie('csrftoken'); // Get CSRF token

				fetch(`http://localhost:8000/api/games/${currentId}/`, {
					method: 'PUT',
					headers: {
						'Content-Type': 'application/json',
						'X-CSRFToken': csrfToken
					},
					body: JSON.stringify(input)
				})
					.then(response => {
						if (!response.ok) {
							throw new Error('Network response was not ok');
						}
						return response.json();
					})
					.then(data => {
						console.log('Input sent successfully:', data);
					})
					.catch(error => {
						console.error('Error sending input:', error);
					});
			}


			document.addEventListener('DOMContentLoaded', function () {
				const csrfToken = getCookie('csrftoken');

				document.getElementById('login-btn').addEventListener('click', function () {
					authRequest('http://localhost:8000/api/auth/login/');
				});

				document.getElementById('register-btn').addEventListener('click', function () {
					authRequest('http://localhost:8000/api/auth/register/');
				});
				document.getElementById('start-local-game').addEventListener('click', () => createGame('local', csrfToken));
				document.getElementById('start-remote-game').addEventListener('click', () => createGame('remote', csrfToken));
				document.getElementById('start-ai-game').addEventListener('click', () => createGame('ai', csrfToken));
				checkAuthenticationStatus()
			});

		</script>
	</main>
</body>

</html>
