{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ft_transcendence</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<main>
		<h1>ft_transcendence</h1>
		<div id="auth-form-div">
			<div id="auth-fields">
				<input type="text" id="username" placeholder="Username">
				<input type="password" id="password" placeholder="Password">
			</div>
			<div id="auth-buttons">
				<button id="login-btn">Login</button>
				<button id="register-btn">Register</button>
			</div>
		</div>

		<div id="game-menu-div">
			<button id="start-local-game-btn">Play Local Game</button>
			<button id="start-remote-game-btn">Play Remote Game</button>
			<button id="start-ai-game-btn">Play Against AI</button>
		</div>
		<div id="game-div">
			<canvas id="game-canvas" width="600" height="800"></canvas>
		</div>
		<script type="module" src='{% static "js/requests.js" %}'></script>
		<script type="module" src='{% static "js/utils.js" %}'></script>
		<script type="module" src='{% static "js/game.js" %}'></script>
		<script type="module" src='{% static "js/events.js" %}'></script>
	</main>
</body>

</html>
