.login-form * {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px; /* Space between inputs */
}

.tooltip-icon {
	text-decoration: none;
	color: #000;
	cursor: help;
}
