@font-face {
	font-family: 'Code Page 437';
	src: url('{% static "assets/code-page-437.ttf" %}') format('truetype');
}

body {
	font-family: 'Code Page 437', Arial, sans-serif;
	font-size: 32px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	background-color: #000000;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#game-canvas {
	display: none;
	border: 1px solid #fff;
}

#auth-form-div {
	display: block;
}

#game-launch-buttons {
	display: none;
}

button {
	margin: 10px;
}
