/* frontend/static/css/style.css */

/* frontend/static/css/style.css */

body, html {
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button {
    margin-left: 10px;
}

.auth-buttons {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: line;
}

.log * {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px; 
}