/* FONTS */

@font-face {
	font-family: 'CP437';
	src: url('../assets/cp437.ttf') format('truetype');
}

/* HEADER / FOOTER */
header {
	text-align: center;
	border-bottom: 2px solid rgb(0, 0, 0);
}

/* Footer styles */
footer {
	text-align: center;
	border-top: 2px solid rgb(0, 0, 0);
}

nav ul {
	/* Center the menu */
	display: inline-block;
}

nav ul li {
	/* Display links side by side */
	display: inline;
	/* Spacing between links */
	margin: 0 10px;
}

nav img {
	/* Removes default inline spacing */
	display: inline-block;
	/* Ensures background is transparent */
	background: transparent;
	/* Removes any border */
	border: none;
}

/* LISTS */
ul {
	list-style-type: square;
}

/* BODY */
body {
	font-family: 'CP437', serif;
	font-size: 16px;
	color: #ffffff;
	background-color: #000000;
	margin: 8ch auto;
	max-width: 80ch;
	padding: 0 10px;
	text-align: left;
	line-height: 1.4;
	word-spacing: 0.16em;
	font-kerning: normal;
	text-rendering: optimizeLegibility;
}

p {
	margin-bottom: 2em;
}

/* HEADINGS */

h1 {
	font-size: 64px;
	text-align: center;
	line-height: 1.8;
}

h2 {
	line-height: 1.6;
}

h3 {
	line-height: 1.4;
}
