<!-- frontend/templates/welcome.html -->
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="welcome-container">
            <h1>Welcome to Our Pong Game!</h1>
            <p>This is a custom welcome page for our Pong game project.</p>
            <button id="showAuthFormButton">Log In / Register</button>
        </div>
    </header>
    <main>
        <div id="authContent" style="display:none;">
            <form id="authForm">
                <input type="text" id="name" name="name" placeholder="Name">
                <input type="text" id="nickname" name="nickname" placeholder="Nickname">
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>

    <script src="{% static 'js/diplayAuth.js' %}"></script>
</body>
</html>
