<!-- frontend/templates/welcome.html -->
{% load static %}
{% csrf_token %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="welcome-container">
            <h1>Welcome to Our Pong Game!</h1>
            <p>This is a custom welcome page for our Pong game project.</p>
            <button type="button" id="loadAuthFormButton">Log In / Register</button>
        </div>
    </header>
    <main>
        <div id="authFormContainer"></div>
    </main>

    <script src="{% static 'js/authScript.js' %}"></script>
    <script src="{% static 'js/diplayAuth.js' %}"></script>
</body>
</html>
